<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.gptprj.mapper.ChatMapper">	

	<insert id="insertChat">
		INSERT INTO chat(code, model_id, title, content, gen_date, gen_time) 
		VALUES (#{code}, 1, #{title}, #{content}, #{genDate}, #{genTime});
	</insert>
	
</mapper>